<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body class="bg-nav">
      <!-- <nav class="navbar >
          <a href="" class="navbar-brand">Virtual Assistant</a>

      </nav> -->
      <div class="container mt-100">
          <div class="row">
              <div class="col-md-8">
                  <h1 class=" display-2">This is your virtual assistant</h1>

              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-body">
                          <form  method="post" action="/send_user_info">
                              <label>Name</label><br>
                              <input type=text class="form-control" name="name"><br>
                              <label>Username/Email</label><br>
                              <input type=email class="form-control" name="email"><br>
                              <label>Password</label><br>
                              <input type=password class="form-control" name="password"><br><br>
                              <label>Subject of Interest</label><br>
                              <input type=text class="form-control" name="interest"><br>
                              <input type="submit" class="btn btn-primary btn-block btn-lg"><br><br>
                              <p>Already have an account?
                                <a class="mt-2" href="/">Login</a>
                              </p>

                          </form>

                      </div>
                  </div>

            </div>


          </div>

      </div>

    <!-- <h1>Hello, Login</h1> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>